@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section1 {
    height: 100vh;
    background-color: #9e6fc8;
}

.section2 {
    height: 100vh;
    background-color: #d37846;
}

.int-target-s2 {
    position: relative;
    opacity: 0;
    width: 128px;
    height: 96px;
    background-color: #bc453b;
    color: #FAFAFA;
}

.int-target-anim {
    animation: opacity-anim 1200ms ease-out forwards;
}

@keyframes opacity-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}