@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* region CSS Reset */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    appearance: none;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/* endregion*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #282828;
}

.section1 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #9e6fc8;
}

.section2 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #d37846;
}

.int-target-s2 {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 256px;
    height: 96px;
    background-color: #bc453b;
    color: #FAFAFA;
}

.int-target-s2-anim {
    animation: opacity-anim 1200ms ease-out forwards;
}

.section3 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    background-color: #9894e4;
}

.int-target-s3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 96px;
    background-color: #bc453b;
    color: #FAFAFA;
    transition: all 1000ms ease-out;
}

.int-target-s3-anim {
    transform-origin: center;
    transform: translateX(calc(50vw - 128px));
}

@keyframes opacity-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}