:root {
    --snow-lt-0: #FFFAFA;
    --snow-lt-1: #F0EBEB;
    --snow-lt-2: #E1DCDC;
    --snow-lt-3: #D2CECE;
    
    --snow-md-0: #999696;
    --snow-md-1: #8B8888;
    --snow-md-2: #7E7B7B;
    --snow-md-3: #706E6E;
    
    --snow-dk-0: #333232;
    --snow-dk-1: #333232;
    --snow-dk-2: #272727;
    --snow-dk-3: #1D1C1C
}