@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "../base-css/reset.css";
@import "../base-css/colors.css";

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 100vh;
}