@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

html, body {
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #1f1f1f;
    color: #dddddd;
}

.nav-container {
    
}

.nav-horiz {
    display: flex;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    cursor: pointer;
}

.nav-item:hover .nav-icon {
    color: #19F29AFF;
    transform-origin: center;
    transform: rotate(360deg);
}

.nav-icon {
    color: #5E9DF3FF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    transform-origin: center;
    transition: transform 0.5s linear, color 0.5s ease;
}

.nav-text {
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(90deg, #5e9df3 50%, #19F29A 50%);
    background-position: 100%;
    background-size: 200% 100%;
    background-clip: text;
    margin-left: 0.25rem;
    transition: background-position 0.4s ease-out;
}

.nav-text:hover {
    background-position: 0;
}