@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* Base */
    --bg-color: #131313;
    --font-color: #676767;
    --btn-bg-base: #1c1c1c;
    --btn-bg-base-down: #1a1a1a;
    --btn-bg: #202020;
    --btn-bg-over: #282828;
    --btn-bg-down: #222222;
    
    --btn-text: #676767;
    --btn-text-over: #777777;
    --btn-text-down: #5b5b5b;
    
    /* Utils */
    --2px: 2px;
    --4px: 4px;
    
    /* Borders */
    --btn-border: #333333;
    --btn-focus-ring: rgba(58, 186, 127, 0.75);
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    appearance: none;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: grid;
    place-items: center;
    height: 100vh;
}

/* Disable the focus outline and use border instead for a tighter feel */
:focus-visible {
    outline-width: 0;
    border-radius: 0;
}

/* Button base */
button.base {
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: 1px solid var(--btn-border);
    border-radius: var(--4px);
    padding: var(--2px) var(--4px);
    transition: all 150ms ease-in-out;
}

button.base:hover {
    background-color: var(--btn-bg-over);
    border: 1px solid var(--btn-text-over);
    color: var(--btn-text-over);
}

button.base:active {
    background-color: var(--btn-bg-down);
    color: var(--btn-text-down);
    border: 1px solid var(--btn-text-down);
}

/* Button outline */
button.outline {
    background-color: transparent;
    color: var(--btn-text);
    border: 1px solid var(--btn-border);
    border-radius: var(--4px);
    padding: var(--2px) var(--4px);
    transition: all 150ms ease-in-out;
}

button.outline:hover {
    border: 1px solid var(--btn-text-over);
    color: var(--btn-text-over);
}

button.outline:active {
    border: 1px solid var(--btn-bg-down);
    color: var(--btn-text-down);
}

/* Button solid */
button.solid {
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: 1px solid var(--btn-bg);
    border-radius: var(--4px);
    padding: var(--2px) var(--4px);
    transition: all 150ms ease-in-out;
}

button.solid:hover {
    background-color: var(--btn-bg-over);
    color: var(--btn-text-over);
    border: 1px solid var(--btn-bg-over);
}

button.solid:active {
    background-color: var(--btn-bg-down);
    color: var(--btn-text-down);
    border: 1px solid var(--btn-bg-down);
}

/* Set the focus border for the button variants */
button.base:focus, button.solid:focus, button.outline:focus {
    border: solid 1px var(--btn-focus-ring);
}

/* Scaling modifier classes for the button variants */
button.base.button-lg, button.outline.button-lg, button.solid.button-lg {
    font-size: 1.25rem;
    padding: var(--4px) var(--4px);
}

button.base.button-xl, button.outline.button-xl, button.solid.button-xl {
    font-size: 1.5rem;
    border-width: 2px;
    padding: var(--4px) 1rem;
}