@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.margin-detail-content {
    margin-left: 1rem;
}

.margin-l2 {
    margin-left: 1rem;
}

.accordion-container {
    width: 396px;
}
