@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgba(51, 51, 51, 1);
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(51, 51, 51, 0);
    color: rgba(51, 51, 51, 1);
    z-index: 1000;
    transition: all 0.3s ease;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.25s ease;
}

.navbar a.un-scrolled:hover {
    background-color: rgba(51, 51, 51, 0.25);
}

.navbar.scrolled {
    background-color: rgba(51, 51, 51, 1);
    color: rgba(249, 246, 238, 1);
}

.navbar a.scrolled {
    color: rgba(249, 246, 238, 1);
}

.navbar a.scrolled:hover {
    background-color: rgba(69, 69, 69, 1);
}

.navbar a.active {
    background-color: rgb(74, 74, 74);
}

.logo-container {
    display: flex;
    padding-left: 1rem;
}

.logo-container svg.logo-un-scrolled {
    width: 66%;
    height: auto;
    fill: rgba(51, 51, 51, 1);
    stroke: rgba(51, 51, 51, 1);
    transition: all 0.25s ease;
}

.logo-container svg.logo-scrolled {
    width: 66%;
    height: auto;
    fill: rgba(249, 246, 238, 1);
    stroke: rgba(249, 246, 238, 1);
    transition: all 0.75s ease;
}

.color-mode-btn-container {
    display: flex;
    padding-right: 1rem;
}

.color-mode-btn-container button {
    background-color: rgba(74, 74, 74, 0.25);
    border: 1px solid rgba(74, 74, 74, 0.50);
    border-radius: 4px;
}

.icon-rg {
    font-size: 1.5rem;
    color: rgba(51, 51, 51, 1);
    transition: all 0.25s ease;
}

.icon-rg.scrolled {
    color: rgba(249, 246, 238, 1);
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#section1 {
    background-color: #f4a261;
}

#section2 {
    background-color: #2a9d8f;
}

#section3 {
    background-color: #e76f51;
}
