@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --bg-color: #1e1e1e;
    --bg-color-secondary: #262626;
    --font-color: #F9F6EE;
    
    --container-border: #202020;

    --btn-bg: var(--bg-color-secondary);
    --btn-bg-over: #323232;
    --btn-bg-down: #141414;

    --btn-text: #C3C2BD;
    
    --resize-handle-color: #404040;
}

/* region CSS Reset */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/* endregion */

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 100vh;
}

.container-panels {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

.section-sidebar {
    display: grid;
    grid-template-rows: 1fr auto auto auto;
    background-color: var(--bg-color-secondary);
    padding: 0.5rem 0 0.5rem 0;
    border: 2px solid var(--container-border);
}

.sidebar-item {
    display: grid;
    place-items: center;
    padding: 4px 4px 0 4px;
}

.section-main-content {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    max-height: 100%;
}

.main-content-container {
    min-height: 72px;
}

.panel-container {
    border-top: 2px solid var(--container-border);
    border-right: 2px solid var(--container-border);
    /*border-bottom: 2px solid var(--container-border);*/
    min-height: 72px;
}

.panel-resize-handle {
    display: grid;
    place-items: center;
    color: var(--resize-handle-color);
    cursor: n-resize;
}

.panel-header {
    background-color: var(--bg-color-secondary);
}

.panel-content {
    
}

.menu-button {
    appearance: none;
    padding: 4px;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.menu-button:hover {
    background-color: var(--btn-bg-over);
}

.menu-button:active {
    background-color: #da4723;
    color: var(--font-color);
}